@font-face {
    font-family: myfont;
    src: url(./fonts/graphik-font/Graphik.Arabic.Bold_p30download.com.otf);
}

*{
    color: black;
}

h1:hover , h2:hover{
    font-family: myfont;
    color: blue;
}